HotelClientView/Service References/HotelServiceReference/HotelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50809/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelISDTO" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="TestConnectionResult" nillable="true" type="q1:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUzer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="login" nillable="true" type="q2:LoginDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUzerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="AuthorizeUzerResult" nillable="true" type="q3:LoginResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="user" nillable="true" type="q4:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="InsertUserResult" nillable="true" type="q5:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="filter" nillable="true" type="q6:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="GetUsersResult" nillable="true" type="q7:ArrayOfUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="user" nillable="true" type="q8:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="UpdateUserResult" nillable="true" type="q9:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="user" nillable="true" type="q10:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteUserResult" nillable="true" type="q11:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="city" nillable="true" type="q12:CityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="InsertCityResult" nillable="true" type="q13:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="filter" nillable="true" type="q14:CityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="GetCitiesResult" nillable="true" type="q15:ArrayOfCityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="city" nillable="true" type="q16:CityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="UpdateCityResult" nillable="true" type="q17:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="city" nillable="true" type="q18:CityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteCityResult" nillable="true" type="q19:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="country" nillable="true" type="q20:CountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="InsertCountryResult" nillable="true" type="q21:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="filter" nillable="true" type="q22:CountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="GetCountriesResult" nillable="true" type="q23:ArrayOfCountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="country" nillable="true" type="q24:CountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="UpdateCountryResult" nillable="true" type="q25:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="country" nillable="true" type="q26:CountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteCountryResult" nillable="true" type="q27:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="hotel" nillable="true" type="q28:HotelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="InsertHotelResult" nillable="true" type="q29:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="filter" nillable="true" type="q30:HotelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="GetHotelsResult" nillable="true" type="q31:ArrayOfHotelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="hotel" nillable="true" type="q32:HotelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="UpdateHotelResult" nillable="true" type="q33:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="hotel" nillable="true" type="q34:HotelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteHotelResult" nillable="true" type="q35:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="apartment" nillable="true" type="q36:ApartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="InsertApartmentResult" nillable="true" type="q37:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="filter" nillable="true" type="q38:ApartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="GetApartmentsResult" nillable="true" type="q39:ArrayOfApartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="apartment" nillable="true" type="q40:ApartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="UpdateApartmentResult" nillable="true" type="q41:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="apartment" nillable="true" type="q42:ApartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteApartmentResult" nillable="true" type="q43:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="dish" nillable="true" type="q44:MenuDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="InsertDishResult" nillable="true" type="q45:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="filter" nillable="true" type="q46:MenuDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="GetMenuResult" nillable="true" type="q47:ArrayOfMenuDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="dish" nillable="true" type="q48:MenuDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="UpdateMenuResult" nillable="true" type="q49:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="dish" nillable="true" type="q50:MenuDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteDishResult" nillable="true" type="q51:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGuest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="guest" nillable="true" type="q52:GuestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGuestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="InsertGuestResult" nillable="true" type="q53:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="filter" nillable="true" type="q54:GuestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="GetGuestsResult" nillable="true" type="q55:ArrayOfGuestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGuest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="guest" nillable="true" type="q56:GuestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGuestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="UpdateGuestResult" nillable="true" type="q57:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGuest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="guest" nillable="true" type="q58:GuestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGuestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteGuestResult" nillable="true" type="q59:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFloor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="floor" nillable="true" type="q60:FloorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFloorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="InsertFloorResult" nillable="true" type="q61:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="filter" nillable="true" type="q62:FloorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="GetFloorsResult" nillable="true" type="q63:ArrayOfFloorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFloor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="floor" nillable="true" type="q64:FloorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFloorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="UpdateFloorResult" nillable="true" type="q65:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFloor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="floor" nillable="true" type="q66:FloorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFloorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteFloorResult" nillable="true" type="q67:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="restaurant" nillable="true" type="q68:RestaurantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="InsertRestaurantResult" nillable="true" type="q69:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurants">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="filter" nillable="true" type="q70:RestaurantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="GetRestaurantsResult" nillable="true" type="q71:ArrayOfRestaurantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="restaurant" nillable="true" type="q72:RestaurantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="UpdateRestaurantResult" nillable="true" type="q73:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="restaurant" nillable="true" type="q74:RestaurantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteRestaurantResult" nillable="true" type="q75:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="order" nillable="true" type="q76:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="InsertOrderResult" nillable="true" type="q77:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="filter" nillable="true" type="q78:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="GetOrdersResult" nillable="true" type="q79:ArrayOfOrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="order" nillable="true" type="q80:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="UpdateOrderResult" nillable="true" type="q81:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="order" nillable="true" type="q82:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteOrderResult" nillable="true" type="q83:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="order" nillable="true" type="q84:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="CheckOutOrderResult" nillable="true" type="q85:PaycheckDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderApartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="orderedApt" nillable="true" type="q86:OrderedApartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderApartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="OrderApartmentResult" nillable="true" type="q87:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderedApartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="filter" nillable="true" type="q88:OrderedApartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderedApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="GetOrderedApartmentsResult" nillable="true" type="q89:ArrayOfApartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderedApartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="orderApt" nillable="true" type="q90:OrderedApartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderedApartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteOrderedApartmentResult" nillable="true" type="q91:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>