HotelClientPresentation/Service References/RelationsServiceReference/RelationsDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50809/RelationsDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelISDTO" />
  <xs:element name="AddParentChildRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="relation" nillable="true" type="q1:ParentChildDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddParentChildRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="AddParentChildRelationResult" nillable="true" type="q2:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteParentChildRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="relation" nillable="true" type="q3:ParentChildDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteParentChildRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="DeleteParentChildRelationResult" nillable="true" type="q4:ServiceResponceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentChildRelations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HotelISDTO" minOccurs="0" name="relation" nillable="true" type="q5:ParentChildDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentChildRelationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetParentChildRelationsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>