HotelClientPresentation/Service References/RelationsServiceReference/RelationsDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RelationsDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50809/RelationsDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50809/RelationsDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50809/RelationsDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelISDTO" />
      <xsd:import schemaLocation="http://localhost:50809/RelationsDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRelationsDataService_AddParentChildRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddParentChildRelation" />
  </wsdl:message>
  <wsdl:message name="IRelationsDataService_AddParentChildRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddParentChildRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IRelationsDataService_DeleteParentChildRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParentChildRelation" />
  </wsdl:message>
  <wsdl:message name="IRelationsDataService_DeleteParentChildRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParentChildRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IRelationsDataService_GetParentChildRelations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParentChildRelations" />
  </wsdl:message>
  <wsdl:message name="IRelationsDataService_GetParentChildRelations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentChildRelationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRelationsDataService">
    <wsdl:operation name="AddParentChildRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationsDataService/AddParentChildRelation" message="tns:IRelationsDataService_AddParentChildRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationsDataService/AddParentChildRelationResponse" message="tns:IRelationsDataService_AddParentChildRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteParentChildRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationsDataService/DeleteParentChildRelation" message="tns:IRelationsDataService_DeleteParentChildRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationsDataService/DeleteParentChildRelationResponse" message="tns:IRelationsDataService_DeleteParentChildRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParentChildRelations">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationsDataService/GetParentChildRelations" message="tns:IRelationsDataService_GetParentChildRelations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationsDataService/GetParentChildRelationsResponse" message="tns:IRelationsDataService_GetParentChildRelations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRelationsDataService" type="tns:IRelationsDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddParentChildRelation">
      <soap:operation soapAction="http://tempuri.org/IRelationsDataService/AddParentChildRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteParentChildRelation">
      <soap:operation soapAction="http://tempuri.org/IRelationsDataService/DeleteParentChildRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentChildRelations">
      <soap:operation soapAction="http://tempuri.org/IRelationsDataService/GetParentChildRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RelationsDataService">
    <wsdl:port name="BasicHttpBinding_IRelationsDataService" binding="tns:BasicHttpBinding_IRelationsDataService">
      <soap:address location="http://localhost:50809/RelationsDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>